header{
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    height: 40px;
    width: 120px;
    background-color: black;
    border: 3px solid white;
    color: red;
}

button:hover{
    cursor: pointer;
}

main{
    background-color: lightblue;
    height: calc(100vh - 100px);
}